[Unit]
Description=Russound RIO status daemon
After=syslog.target
After=network.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/usr/bin/python3 /usr/local/bin/riod.py -d 0 -t 1 

# Give the script some time to startup
TimeoutSec=300

[Install]
WantedBy=multi-user.target
